body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Verdana';;
    background-color: #f8f9fa;; 
    background: linear-gradient(rgb(115 114 237 / 66%), rgb(255 166 166 / 53%));
}
    .container {
        display: flex;
        width: 80%;
        max-width: 900px;
        height: 600px;
        border-radius: 10px;
        overflow: hidden;
    }
    .vasen-paneeli{
        flex: 1;
        background: linear-gradient(to bottom right, #D71313, #8dd2f1);
        color: white;
        padding: 5px;
        border-radius: 30px 0px 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .oikea-paneeli{
        flex: 1;
        background: rgba(255, 255, 255, 0.9);
        padding: 5px;
         border-radius: 0px 30px 30px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    label {
        display: inline;
        margin-bottom: 10px;
        font-weight: 600;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 12.5px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 17px;
        font-size: 16px;
        background-color: #f1f1f1ad;
    }
    input[type="checkbox"] {
        width: auto;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        cursor: pointer;
    }
    


    button {
        width: 100%;
        padding: 10px;
        background-color: #131618c0;
        border: none;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    button:hover {
        background-color: #2d3033;
        transform: scale(1.01);
    }
    
    
    a {
        align-self: flex-end;
        margin-top: 15px;
        color: #141516;
        text-decoration: none;
        justify-content: space-between;
    }
    a:hover {
        text-decoration: underline;
        
    }
    
    .login-extra {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .login-container {
    display: flex;
    justify-content: flex-end;
}
.login-link {
    align-self: flex-end;
    margin-top: 0;
}
.remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0; 
    cursor: pointer;
}


.register-link {
    margin: 0; 
    text-decoration: none;
    color: #141516;
}
.register-link:hover {
    text-decoration: underline;
}

  @media (max-width: 768px) {
    .container {
        height: auto;
    }
    .vasen-paneeli{
        border-radius: 30px 0px 0px 30px;
    }
    .oikea-paneeli {
        border-radius: 0px 30px 30px 0px;
        width: 100%;
        height: auto;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 14px;
        font-size: 14px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 14px;
    }
}