body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Verdana';;
    background-color: #f8f9fa;; 
    background: linear-gradient( rgba(170, 170, 170, 0.658), rgba(8, 8, 8, 0.527));
}
form {
    background: linear-gradient(
        rgba(50, 111, 245, 0.6), 
        rgba(154, 177, 187, 0.6) 
        );
        max-width: 700px;
        min-height: 500px;
        margin: 50px auto;
        padding: 50px;
        border-radius: 13px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.822);
        width: 100%;
        height: 100%;
    }
    .vasen-paneli{
        flex: 1;

    }
    label {
        display: inline;
        margin-bottom: 10px;
        font-weight: 600;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 12.5px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 17px;
        font-size: 16px;
        background-color: #f1f1f1ad;
    }
    input[type="checkbox"] {
        width: auto;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        cursor: pointer;
    }
    


    button {
        width: 100%;
        padding: 10px;
        background-color: #131618c0;
        border: none;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    button:hover {
        background-color: #2d3033;
        transform: scale(1.01);
    }
    
    
    a {
        align-self: flex-end;
        margin-top: 15px;
        color: #141516;
        text-decoration: none;
        justify-content: space-between;
    }
    a:hover {
        text-decoration: underline;
        
    }
    
    .login-extra {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .login-container {
    display: flex;
    justify-content: flex-end;
}
.login-link {
    align-self: flex-end;
    margin-top: 0;
}
.remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0; 
    cursor: pointer;
}


.register-link {
    margin: 0; 
    text-decoration: none;
    color: #141516;
}
.register-link:hover {
    text-decoration: underline;
}