body.login {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Verdana';;
    background-color: #f8f9fa;; 
    background: linear-gradient(rgb(115 114 237 / 66%), rgb(255 166 166 / 53%));
}
body.content{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    align-items: center;
    font-family: 'Verdana';;
    background-color: #f8f9fa;; 
    background: linear-gradient(rgb(115 114 237 / 66%), rgb(255 166 166 / 53%));
}
/*Kirjatumissivu */
.container {
  position: relative;
  z-index: 1;
  display: flex;
  width: 80%;
  max-width: 900px;
  height: 600px;
  border-radius: 10px;
  overflow: visible;
}

.joululakki {
  position: absolute;
  top: -65px;
  left: -125px;
  width: 300px;
  transform: rotate(-35deg);
  z-index: 999;
}
/* .jolly-alarm kuva
.jolly-alarm {
    width: 100%;
    max-width: 410px;
    height: 471px;
    border-radius: 0px 0px 0px 30px;
} */
    .vasen-paneeli{
        flex: 1;
        background: linear-gradient(to bottom right, #ed2f2f, #8dd2f1);
        color: white;
        padding: 5px;
        border-radius: 30px 0px 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .oikea-paneeli{
        flex: 1;
        background: rgb(255, 255, 255);
        padding: 5px;
         border-radius: 0px 30px 30px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    label {
        display: inline;
        margin-bottom: 10px;
        font-weight: 600;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 12.5px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 17px;
        font-size: 16px;
        background-color: #f1f1f1ad;
    }
    input[type="checkbox"] {
        width: auto;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        cursor: pointer;
    }
    button {
        width: 100%;
        padding: 10px;
        background-color: #131618c0;
        border: none;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    button:hover {
        background-color: #2d3033;
        transform: scale(1.01);
    }
    
    a {
        align-self: flex-end;
        margin-top: 15px;
        color: #141516;
        text-decoration: none;
        justify-content: space-between;
    }
    a:hover {
        text-decoration: underline;
        
    }
    
    .login-extra {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .login-container {
    display: flex;
    justify-content: flex-end;
}
.login-link {
    align-self: flex-end;
    margin-top: 0;
}
.remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0; 
    cursor: pointer;
}


.register-link {
    margin: 0; 
    text-decoration: none;
    color: #141516;
}
.register-link:hover {
    text-decoration: underline;
}
.Lumi-maa{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: white;
  border-top-left-radius: 30% 20px;
  border-top-right-radius: 50% 20px;
  z-index: 0;           
}
/* trancation*/
.teksticontainer {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
}
h1 {
    text-align: center;
    color: #333;
    z-index: 2;
}
p.trancation-teksti {
    text-align: center;
    color: #555;
    font-weight: 600;
    z-index: 2;
}
.isocontainer {
    width: 100%;
    max-width: 950px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: nowrap;
    z-index: 1;

} 
.pienicontainer {
    /* tausta */
    background: linear-gradient(to right, #44dcffe6, #eb4c968c);
    /* koko */
    width: 500px;
    max-width: 850px;
    height: 150px;
    /* sijoittelu */
    margin: 20px auto;
    padding: 20px;
    /* muotoilu */
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    
    z-index: 1;
}



/* hiutaleet */
.lumi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.snowflake {
  position: fixed;
  top: -70px;
  font-size: 50px;
  color: white;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5.4s; /*nopeus*/
  z-index: -1;
}

.lumihiutale1 {
  left: 10%;
  animation-delay: 0.5s;
}
.lumihiutale2 {
  left: 40%;
  animation-delay: 1s;
}
.lumihiutale3 {
  left: 70%;
  animation-delay: 0s;
}
.lumihiutale4 {
  left: 25%;
  animation-delay: 3s;
}
.lumihiutale5 {
  left: 55%;
  animation-delay: 0s;
}
.lumihiutale6 {
  left: 90;
  animation-delay: 4s;
}
.lumihiutale7 {
  left: 15%;
  animation-delay: 2s;
}
.lumihiutale8 {
  left: 50%;
  animation-delay: 3.5s;
}
.lumihiutale9 {
  left: 95%;
  animation-delay: 1.5s;
}

@keyframes fall {
  0% { transform: translateY(0); }
  100% { transform: translateY(94vh); }
}


  @media (max-width: 768px) {
    .container {
        height: auto;
    }
    .vasen-paneeli{
        border-radius: 30px 0px 0px 30px;
    }
    .oikea-paneeli {
        border-radius: 0px 30px 30px 0px;
        width: 100%;
        height: auto;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 14px;
        font-size: 14px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 14px;
    }
        .teksticontainer {
        width: 95%;          /* vähän kapeampi mobiilissa */
        padding: 15px;
        font-size: 14px;
    }
    .isocontainer {  /* rivit allekkain */
        gap: 10px;
        width: 95%;
        padding: 20px;
    }
    .pienicontainer {
        width: 95%;
        padding: 15px;
        font-size: 14px;
    }
}